* { margin:0; padding:0; }
body { background-color: rgb(250, 250, 250); }

.hidden { display:none; }
.margin-4px { margin-left: 8px; margin-right: 8px; }
.margin-60px { margin-left:60px; margin-right:60px; }
.margin-100px { margin-left:100px; margin-right:100px; }
.margin-140px { margin-left:140px; margin-right:140px; }
.small-margin { margin:20px; }
.small-margin-bottom { margin-bottom: 20px; }
.vertical-center-margin { margin-top: auto; margin-bottom: auto; }


#modal{
    position: fixed;
    top: 10%;bottom: 10%;right: 10%;left: 10%;
    background-color: black;
    color:white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 3;
}
#modal-bg { 
    position: fixed;
    backdrop-filter:blur(3px);
    top: 0%;bottom: 0%;right: 0%;left: 0%;
    z-index: 2;
 }


#Empty-Database { font-size: 20px; }
.max-width-80 { max-width: 80px; }

.button { background-color: aliceblue; padding:10px; border:1px black solid; cursor:pointer; }
.Card-CSS { outline:1px indigo solid; max-width: auto; margin-bottom: 26px; position:relative;}
.Card-CSS:hover { background-color: rgb(234, 234, 234); cursor: pointer; }
.absolute-symbol { position:absolute; font-weight:500; color:black; background-color: white; padding:6px 6px 6px 4px; width:22px; height:22px; border-radius: 0px 0px 6px 0px; text-align: center;}
.Modal-Div { position:fixed; top:10%; bottom:10%; left:10%; right:10%; background-color: orange; }
.Div-Background { background-color: red; position:fixed; }
/* .Img-Wrapper { width:160px; height:160px; overflow: hidden; outline:1px indigo solid;}
 */
 /* .learn-more { margin-top:10px; font-size: 18px; padding:4px; background-color:antiquewhite; } */
.Img-Wrapper { min-height:100px; max-height:200px; max-width:125px; min-width: 125px; outline:1px indigo solid; }
.Card-CSS:hover > .absolute-symbol { display: none; }
.Img-Wrapper img { width:100%; height:100%; object-fit:cover; }
.highlight { background-color: black; color:white; }
.Name-Style { font-size: 26px; margin:0;}
.flex-column-div { padding-top:12px; padding-bottom:12px; margin-left: 12px; margin-right: 12px;}

.text-align-center { text-align: center; }
.flex-center { justify-content: center; align-items: center; }
.flex { display:flex; }
.column { flex-direction: column; }
.flex-one { flex:1; }
.flexwrap { flex-wrap: wrap; }